.hero-section {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
}
.img {
  max-width: 100%;
  height: auto;
}
.display {
  display: flex;
  align-self: center;
}
.section2 {
  background: url("../../assets/Home2/004.png");
  background-size: 100%;
  margin-top: 5%;
  padding: 5% 0;
}

.section3,
.section4,
.section5 {
  background-color: #b2b2b2;
  margin-top: 5%;
  padding: 6% 8% !important;
}
.section4-inner-div,
.inner-div {
  background-color: #fff !important;
  /* padding: 4% 4% 4% 0%; */
  padding: 4% 0%;
  padding-left: 3%;
}
.section4-inner-div {
  padding-left: 0%;
  padding-right: 3%;
}
.section4-img,
.section3-img {
  padding: 8% 0%;
}
.mutemask-img {
  padding: 0% 0px 0px 40%;
}
.aboutart-img {
  padding: 2% 0px 0px 30%;
}
.aboutartist-img {
  padding: 41% 0px 0px 15%;
}
.aboutrarity-img {
  padding: 47% 0px 0px 13%;
}
.m-t-1 {
  margin-top: 1rem;
}
.bwcolor-img {
  padding: 0% 27% 0% 0%;
}
.bwminting-img {
  padding: 8% 26% 0% 0%;
}
.randomissuance-img {
  padding: 4% 18% 0% 0%;
}
.coloredminting-img {
  padding: 3% 17% 0% 0%;
}
.smartcontract-img {
  padding: 13% 12% 0% 0%;
}
.text-direction {
  text-align: right;
}
.section5-inner-div {
  background: url("../../assets/Home5/01Asset115.png");
  background-color: #fff;
  padding: 2% 5%;
  background-size: contain;
}
.section5-row {
  display: flex;
  justify-content: space-between;
  margin-top: 9%;
  margin-bottom: 5%;
}
.section6 {
  margin-top: 5%;
  padding: 6% 8% !important;
}
.section6-inner-div {
  padding: 2% 0%;
}

.bonding-curve-div {
  margin-top: 14%;
  border-left: 4px solid black;
  padding-left: 4%;
  padding-bottom: 0.1%;
}
.bonding-curve-img {
  padding: 2% 60% 0% 0%;
}
