.hero-section {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
}
.text-img,
.home-img,
.home-img2 {
  max-width: 100%;
  height: auto;
}
.display {
  display: flex;
  align-self: center;
}
.section2 {
  /* background: url("../../assets/Home2/004.png"); */
  background-size: 100%;
  /* margin-top: 5%; */
  padding: 6% 0;
}
.section2-text {
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
}
.section3,
.section4,
.section5 {
  font-family: "Noto Sans JP";
  background-color: #b2b2b2;
  /* margin-top: 5%; */
  padding: 6% 8% !important;
}

.section4-inner-div,
.inner-div {
  background-color: #fff !important;
  /* padding: 4% 4% 4% 0%; */
  padding: 4% 0%;
  padding-left: 3%;
}
.section4-inner-div {
  padding-left: 0%;
  padding-right: 3%;
}
.section4-img,
.section3-img {
  /* padding: 8% 0%; */
}
.aboutart-img {
  padding-top: 15%;
}
.aboutartist-img {
  padding-top: 20%;
}
.aboutrarity-img {
  padding-top: 16%;
}
.bwcolor-img {
  padding-top: 3%;
}
.bwminting-img {
  padding-top: 18%;
}
.randomissuance-img {
  padding-top: 20%;
}
.coloredminting-img {
  padding-top: 16%;
}
.smartcontract-img {
  padding-top: 19%;
}

.m-t-1 {
  margin-top: 1rem;
}

.text-direction {
  text-align: right;
}
.section5-inner-div {
  background: url("../../assets/Home5/01Asset115.png");
  background-color: #fff;
  padding: 2% 5%;
  background-size: contain;
}
.section5-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}
.section5-text {
  font-size: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1.8%;
}
.section6 {
  /* margin-top: 5%; */
  padding: 6% 8% !important;
}
.section6-inner-div {
  /* padding: 2% 0%; */
}

.bonding-curve-div {
  font-family: "Noto Sans JP";
  /* margin-top: 14%; */
  border-left: 4px solid black;
  padding-left: 4%;
  padding-bottom: 0.1%;
}
.bonding-curve-img {
  padding: 2% 60% 0% 0%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 130px !important;
  height: 130px !important;
}
.carousel-control-prev-icon {
  /* background: url("../../assets/Home3/01Asset97.png") !important; */
  margin-right: 43%;
}
.carousel-control-next-icon {
  /* background: url("../../assets/Home3/01Asset98.png") !important; */
  margin-left: 43%;
}
.section3 span,
.section4 span,
.section6 p {
  font-weight: 300;
}
.section3 span b,
.section4 span b,
.section6 p b {
  font-weight: 600;
}
@media (min-width: 992px) {
  .mutemask-img {
    padding: 0% 0px 0px 40%;
  }
  .aboutart-img {
    /* padding: 2% 0px 0px 30%; */
    padding: 8% 0px 0px 30%;
  }
  .aboutartist-img {
    /* padding: 41% 0px 0px 15%; */
    padding: 10% 0px 0px 15%;
  }
  .aboutrarity-img {
    /* padding: 47% 0px 0px 13%; */
    padding: 10% 0px 0px 13%;
  }
  .bwcolor-img {
    padding: 0% 27% 0% 0%;
  }
  .bwminting-img {
    /* padding: 8% 26% 0% 0%; */
    padding: 10% 26% 0% 0%;
  }
  .randomissuance-img {
    /* padding: 4% 18% 0% 0%; */
    padding: 12% 18% 0% 0%;
  }
  .coloredminting-img {
    /* padding: 3% 17% 0% 0%; */
    padding: 9% 17% 0% 0%;
  }
  .smartcontract-img {
    /* padding: 13% 12% 0% 0%; */
    padding: 11% 12% 0% 0%;
  }
}
@media (max-width: 991px) {
  .bonding-curve-div {
    margin-top: 8%;
    padding: 30px;
  }
  .bonding-curve-img {
    padding: 1% 75% 0% 0%;
  }
  .section4-inner-div,
  .inner-div {
    padding: 4%;
  }
}
@media (max-width: 580px) {
  .home-img {
    max-width: 50%;
  }
  .home-img2 {
    max-width: 130%;
  }
  .img_center {
    text-align: center;
  }
  .section6 {
    padding: 0px !important;
  }
  .section2-text {
    font-size: 12px;
  }
}
