.header {
  position: sticky !important;
  top: 0;
  z-index: 1000;
}
.navbar a {
  color: black;
  font-weight: 500;
}
.bg-header {
  background-color: #cccccc !important;
}
.logo {
  width: 28px;
  margin-left: 18%;
}
.logo-icons {
  width: 22px;
}
.v-align {
  vertical-align: middle;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 1.5rem;
  }
}
