.header {
  position: sticky !important;
  top: 0;
  z-index: 1000;
}
.navbar a {
  color: black;
  font-weight: 500;
}
.bg-header {
  background-color: #cccccc !important;
}
.logo {
  width: 28px;
  margin-left: 18%;
}
.logo-icons {
  width: 22px;
}
.v-align {
  vertical-align: middle;
}
.navbar-toggler-icon {
  background: url("../../assets/menu.svg") !important;
  width: 21px !important;
  height: 20px !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 1.5rem;
  }
}
@media (max-width: 991px) {
  .v-align {
    margin-left: 0px;
  }
  .navbar-collapse {
    text-align: center;
  }
}
