.mint-img {
  max-width: 100%;
  height: auto;
}
.minting-instructions-div {
  margin-top: 25%;
  border-left: 4px solid black;
  padding-left: 4%;
  padding-bottom: 0.1%;
}
.minting-instructions-img {
  padding: 2% 60% 0% 0%;
}
.mint-bg {
  background: url("../../assets/Mint/01Asset17.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}
.boxes-container {
  position: absolute;
  /* margin: 31% 0 0 38% !important; */
  width: 80%;
  top: 17.2%;
  left: 35.5%;
}
.boxes-container2 {
  width: 56%;
  top: 5.8%;
  right: 30.5%;
  position: absolute;
  top: 18%;
}
.outerdiv {
  width: 40px;
  height: 40px;
}
.inner-div,
.innerdiv {
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
